doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/styles/main.css')
        link(rel='stylesheet',href='/styles/character-select.css')
    body.login
        h2= title
        h3= message
        form(method='POST' action='/character-select')
            div.select-character
                input(type='hidden' name='accountname' value= accountname)
            div
                label(for='character') Select Character:
                select(name='character')
                    option(value="") Please Select
                    each character in characters
                        option(value=character.charName)= character.charName

            div
                button(type='submit') Enter Game


            div.build-character
                div
                    input(type='text' name='charactername' value="")

                div
                    label(for='race') Race:
                    select(name='race')
                        option(value="human") Human
                        option(value="elf") Elf
                        option(value="dragon") Dragon
                        option(value="spider") Spider

                div
                    input(type='text' name='age' value="")

                div
                    label(for='archetype') Guild:
                    select(name='archetype')
                        option(value="mage") Mage
                        option(value="warrior") Warrior
                        option(value="rogue") Rogue
                        option(value="paladin") Paladin

                div
                    button(type='submit') Add Character

        script(src='/scripts/main.js')
        script(src='/scripts/character-select.js')