doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/styles/main.css')
        link(rel='stylesheet',href='/styles/registration.css')
    body.registration
        h2= title
        h3= message
        form(method='POST')
            div
                label(for='username') Username:
                input(type='text' name='username')
            div
                label(for='password') Password:
                input(type='password' name='password')
            div
                button(type='submit') Register

        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='/scripts/main.js')
        script(src='/scripts/registration.js')