doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        link(rel='stylesheet' href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet' href='/styles/view-policy.css')


    body.container.is-widescreen

        div.field.is-grouped
            div.control.view-button
                button(type='button' class='button view-btn') Policy List
            div.control.edit-button
                button(type='button' class='button edit-btn') Edit Policy

        div.content.box
            div.policy-content!= policycontent



        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js')
        script(type='text/javascript' src='/scripts/view-policy.js')
        script(type='text/javascript' src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')

