/*#video-background {
    !*  making the video fullscreen  *!
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: .05;
    z-index: -100;
}*/

/*body {

    !*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  *!

    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(135, 167, 187, 0.1);
}*/

.container{
    /*margin-bottom: 20rem;*/
}

.policy-tabs{
    padding-bottom: 3rem;
}

.policy-search{
    right: 50%;
}

.fixed-title{
    position: fixed;
    margin-top: 1rem;
    top:0;
}
.fixed-title h1{
    color:whitesmoke;
    padding:.5rem;
    margin-bottom: 1.25rem!important;
    width:30rem;
    background-color: rgba(89,177,232,0.75);
}
.fixed-title h6.subtitle{
    padding: .25rem .25rem .25rem .75rem;
    background-color: rgba(10,96,150,0.5);
    width:90%;
    color: #fefefe;
    font-style: italic;

}

.fixed-image{
    width:100%;
    height: 800px;
    background-attachment: fixed;
    opacity: .8;
    background-size:cover;
    background-image: url('/images/backgrounds/rp-clipboard-editing.jpg');
}

.image-overlay{
    width:100%;
    height:100%;
    background-color: #0d418c;
    opacity:.3;
}

.page-container{
    position: absolute;
    top: 0;
    transform: translateY(150%);
}

.select2-element{
    background-color: rgba(43, 50, 56, 0.25);
}

.trans-blue{
    background-color: rgba(89,177,232,0.5);
}
