
html,body{
    height:100%;
    background-color: #e0eefa;
}

.policy-menu{
    z-index:100;
    background-color: #49A5D6;
    padding: 1rem;
    left:50%;
    top:0%;
    position: fixed;
    transform:translateX(-50%) translateY(0px);
 }

